%h3 Products

%ul.thumbnails
  %li
    .thumbnail
      =image_tag "http://ecx.images-amazon.com/images/I/31HdHfTMvIL._AA300_.jpg"
    .caption
      %h5 PlayStation 3
      =link_to "Add to Cart", buy_page_path, class: "btn btn-success"
